<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Time Highway</title>
  <meta name="description" content="A General Time Engine App Framework and Service">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/lib/foundation/css/normalize.css">
  <link rel="stylesheet" href="/static/lib/foundation/css/foundation.css">
  <link rel="stylesheet" href="/static/css/fontello.css">
  <link rel="stylesheet" href="/static/css/web.css">

  <script type='text/javascript' src="/static/lib/jquery/dist/jquery.min.js"></script>
  <script src="/static/lib/foundation/js/foundation.min.js"></script>
  <script src="/static/lib/modernizr/modernizr.js"></script>

</head>
<body>
  {% block body %}

  {% endblock %}
</body>
</html>
